In [3]:
print("saranaga")

saranaga

In [1]:
print(3+256)

259

In [2]:
print(3658/25)

146.32

In [5]:
print(3669/458)

8.010917030567686

In [6]:
print("Hello Saranga")

Hello Saranga

In [9]:
if 5 > 2:
 print ("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [4]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

# Python Variables & Variables are containers for storing data values

In [73]:
x = "NALAKA"
  
def myfunc():
  x  = "SARANAGA"
  print("MY FAST NAME = " + x)
    
myfunc() 

print("MY last NAME = "  + x)

MY FAST NAME = SARANAGA
MY last NAME = NALAKA

In [68]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [77]:
X = "NALAKA"

def MYNM():
    A ="SARANAGA"
    print("MY FAST NAME " + A)

MYNM()

print("MY FAST NAME " + X)

MY FAST NAME SARANAGA
MY FAST NAME NALAKA

In [3]:
def myfunc():
    global x
    x = "fantastic"
    
myfunc()
 
print("python is " + x)

python is fantastic

In [1]:
Ang = 20
Ang = 50
print(Ang)

50

In [5]:
P_Name ="john Smith"
P_age =26
print (P_Name ,P_age,)

john Smith 26

# Input Function

In [1]:
name = input("what is your Name")
print("Hello"+ name)

what is your Namesaranga
Hellosaranga

In [1]:
brith_yerar = input("Entery your Ang ")
Ang = 2023 - int(brith_yerar)
print (Ang)

Entery your Ang 1997
26

In [6]:
First = int(input("First :"))
second = int(input("second :"))
sum = (First + second)
print(sum)

First :895
second :568
1463

In [18]:
First = input("First :")
second = input("second :")
sum = int(First)+ int(second)
print(sum)

First :56
second :56
112

# Float in Function

In [1]:
First = input("First :")
second = input("second :")
sum = float(First)+ float(second)
print("sum:"+ str(sum))

First :56.5
second :56.4
sum:112.9

# Strings

In [2]:
course = "pythan for Beginners"
print(course.upper())

PYTHAN FOR BEGINNERS

In [3]:
course = "pythan for Beginners"
print(course.upper())
print(course)

PYTHAN FOR BEGINNERS
pythan for Beginners

In [6]:
course = "pythan for Beginners"
print(course.lower())

pythan for beginners

# Find (y) in Strings

In [7]:
course = "pythan for Beginners"
print(course.find("y"))

1

In [8]:
course = "pythan for Beginners"
print(course.find("for"))

7

In [9]:
course = "pythan for Beginners"
print(course.replace("for","4"))

pythan 4 Beginners

# Arithmetic Operators ( + , - , * , / , % , **  )

In [12]:
print(3/2)

1.5

In [13]:
print(3//2)

1

In [16]:
print(256 % 36)

4

In [20]:
x=3
x = x+8
print(x)

11

In [23]:
x= 10 + 3*2
print(x)

16

In [24]:
x= (10 + 3)*2
print(x)

26

# Comprarison Operators ( >, <, = , == , <= , >= ,=!)

In [26]:
x=3>2
print(x)

True

In [30]:
x=3==2
print(x)

False

In [34]:
price = 25
print(price >10  and  price<30)

True

In [35]:
price = 25
print(price >10  or  price<30)

True

In [36]:
price =25
print(not price>35)

True

# IF Statements

In [39]:
tempereture = 35
if tempereture > 30:
    print("It is a hot day")
    print("Drink plenty of woter")

It is a hot day
Drink plenty of woter

In [40]:
tempereture = 25
if tempereture > 30:
    print("It is a hot day")
    print("Drink plenty of woter")
elif tempereture > 20:
    print("It's nice day")
    print("Done")

It's nice day
Done

In [52]:
tempereture = 5
if tempereture > 30:
    print("It is a hot day")
    print("Drink plenty of woter")
elif tempereture > 20:
    print("It's nice day")
    print("Done")
elif tempereture > 10:
    print("It's nice COLD")
else: 
    print("It's cold")

It's cold

# Exercise

In [1]:
weight = int(input("weight:"))
unit   = input("(K)g or (L) bs:")
if unit.upper()=="K":
        converted = weight / 0.45
        print("weight in Lbs :" + str(converted)) 
else: 
    converted = weight *0.45
    print("weight in Kgs:" + str(converted))

weight:175
(K)g or (L) bs:l
weight in Kgs:78.75

# While Loops

In [5]:
I = 1
while I <= 5:
    print(I)
    I=I+1

1
2
3
4
5

In [24]:
I = 1
while I <=22 :
    print('sarang 2/81/B Paragahakale :'+ str(I))
    I=I+1

sarang 2/81/B Paragahakale :1
sarang 2/81/B Paragahakale :2
sarang 2/81/B Paragahakale :3
sarang 2/81/B Paragahakale :4
sarang 2/81/B Paragahakale :5
sarang 2/81/B Paragahakale :6
sarang 2/81/B Paragahakale :7
sarang 2/81/B Paragahakale :8
sarang 2/81/B Paragahakale :9
sarang 2/81/B Paragahakale :10
sarang 2/81/B Paragahakale :11
sarang 2/81/B Paragahakale :12
sarang 2/81/B Paragahakale :13
sarang 2/81/B Paragahakale :14
sarang 2/81/B Paragahakale :15
sarang 2/81/B Paragahakale :16
sarang 2/81/B Paragahakale :17
sarang 2/81/B Paragahakale :18
sarang 2/81/B Paragahakale :19
sarang 2/81/B Paragahakale :20
sarang 2/81/B Paragahakale :21
sarang 2/81/B Paragahakale :22

In [15]:
count = 1
while count <= 10:
    print("Saranag Nalaka")
    count = count + 1

Saranag Nalaka
Saranag Nalaka
Saranag Nalaka
Saranag Nalaka
Saranag Nalaka
Saranag Nalaka
Saranag Nalaka
Saranag Nalaka
Saranag Nalaka
Saranag Nalaka

In [17]:
count = 1
while count <= 10:
    print("saranag :" + str(count))
    count = count + 1

saranag :1
saranag :2
saranag :3
saranag :4
saranag :5
saranag :6
saranag :7
saranag :8
saranag :9
saranag :10

In [1]:
I = 1
while I <= 10:
    print(I * "*")
    I=I+1

*
**
***
****
*****
******
*******
********
*********
**********

In [27]:
# Note that number 3 is missing in the result
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [28]:
 # With the else statement we can run a block of code once when the condition no longer is true:
I = 1
while I < 6:
  print(I)
  I += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# LISTS

In [29]:
 # Lists are used to store multiple items in a single variable.
 # Lists are one of 4 built-in data types in Python used to store collections of data,
 # the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage. ###
    
Thislist = ["apple", "banana", "cherry"]
print(Thislist)

['apple', 'banana', 'cherry']

In [30]:
Thislist = ["apple", "banana", "cherry"]
print(Thislist[0])

apple

In [31]:
Thislist = ["apple", "banana", "cherry"]
print(Thislist[-1])

cherry

In [38]:
Thislist = ["apple", "banana", "cherry", "apple", "cherry"]
Thislist [0]= "apple"
print(Thislist[0:3])
print(Thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']

In [40]:
 fruits = ['apple', 'banana', 'cherry']      # Insert the value "orange" as the second element of the fruit list
fruits.insert(1, "orange")        #Method ,append(),clear(),copy(),count(),extend(),index(),insert(),pop(),remove(),reverse(),sort()
print(fruits)

['apple', 'orange', 'banana', 'cherry']

# Python For Loops

In [5]:
numbers =[1,2,3,4,5,6,7,8,9] #this code is for loop ----/----for item in numbers :--------/-----
for item in numbers :
    print(item)

1
2
3
4
5
6
7
8
9

In [6]:
fruits = ["apple", "banana", "cherry"]  #this code is for loop ----/----for in in fruits :--------/-----
for x in fruits:
  print(x)

apple
banana
cherry

# Range

In [9]:
numbers = range(5)
for number in numbers:
     print(number)

0
1
2
3
4

In [11]:
numbers = range(5,10)
for number in numbers:
     print(number)

5
6
7
8
9

In [3]:
numbers = range(5,10,2) # we can jamp tha numbers
for number in numbers:
     print(number)

5
7
9

In [2]:
for number in range(5):
     print(number)

0
1
2
3
4

# Tuples 
Tuples are used to store multiple items in a single variable.
Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')